<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sectionKeys</key>
	<array>
		<string>P</string>
		<string>Traffic</string>
		<string>Weather</string>
		<string>Road</string>
		<string>Light</string>
		<string>Finished</string>
	</array>
	<key>P</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Parking</string>
			<key>Value</key>
			<false/>
		</dict>
	</array>
	<key>Traffic</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Light</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Moderate</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Heavy</string>
			<key>Value</key>
			<false/>
		</dict>
	</array>
	<key>Weather</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Dry</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Wet</string>
			<key>Value</key>
			<false/>
		</dict>
	</array>
	<key>Road</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Local St</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Main Rd</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Inner City</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Freeway</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Rural Hwy</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Rural Other</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Gravel</string>
			<key>Value</key>
			<false/>
		</dict>
	</array>
	<key>Light</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Day</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Dawn/Dusk</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Night</string>
			<key>Value</key>
			<false/>
		</dict>
	</array>
	<key>Finished</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Finished</string>
			<key>Value</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
